<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.SMaart.Keretaku"
        version   = "0.1.2">
    <name>Mana Keretaku</name>

    <description>
        Aplikasi sederhana untuk informasi kereta terkini
    </description>

    <author href="http://www.adhie.com" email="smaart@gmail.com">
        Maart Adhie
    </author>

    <feature name="http://api.phonegap.com/1.0/device" />

    <preference name="phonegap-version" value="2.2.0" />
    <preference name="orientation"      value="default" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />
    <preference name="exit-on-suspend" value="true" />

    <icon src="icon.png" />
    <icon src="icon.png"   gap:platform="android"    gap:density="ldpi" />
    <icon src="icon.png"   gap:platform="android"    gap:density="mdpi" />
    <icon src="icon.png"   gap:platform="android"    gap:density="hdpi" />
    <icon src="icon.png"   gap:platform="android"    gap:density="xhdpi" />

    <icon src="icon.png"     gap:platform="blackberry" />
    <icon src="icon.png"     gap:platform="blackberry" gap:state="hover"/>

    <icon src="icon.png"     gap:platform="ios"        width="57" height="57" />
    <icon src="icon.png"     gap:platform="ios"        width="72" height="72" />
    <icon src="icon.png"     gap:platform="ios"        width="114" height="114" />
    <icon src="icon.png"     gap:platform="ios"        width="144" height="144" />

    <icon src="icon.png"     gap:platform="webos" />
    <icon src="icon.png"     gap:platform="winphone" />
    <icon src="icon.png"     gap:platform="winphone"   gap:role="background" />

    
</widget>